<% provide(:title, 'Graphs Index') %>
<h2>Graph Sequencing</h2>

<h4><%= @graphs.first.context %></h4>
<ol>
  <% set = 0 %>
  <% @graphs.each do |graph| %>
    <% unless set == graph.batch %>
      <% set += 1 %>
      <hr>
    <% end %>
    <% if graph.typ == 'prob' and graph.makeup %>
      <li>+<%= Problem.find(graph.file_id).filename %></li>
    <% elsif graph.typ == 'prob' %>
      <li><%= Problem.find(graph.file_id).filename %></li>
    <% elsif graph.typ == 'theory' %>
      <li><%= Theory.find(graph.file_id).filename %></li>
    <% else %>
      <li><b><%= "Bug detected, file id: #{graph.file_id} of type: #{graph.typ}
      was not found." %></b><li>
    <% end %>
  <% end %>
</ol>
