<% graph = Graph.find_by(file_id: @problem.id, typ: 'prob') %>
<% makeup = graph.makeup %>
<% metadata = @problem.metadata %>
<% score = Score.find_by(user_id: current_user.id, problem_id: @problem.id) %>

<%== @problem.text %>
<br>
<h3>Expected Answers:</h3>
<%= @problem.answer.answers %>
<br>
<h3>Your Answers:</h3>
<%= @user_answers %>
<br>
<% @problem.solutions.each do |solution| %>
  <h3>A Solution</h3>
  <b><%= "Type of solution: " %></b>
  <em><%= solution.typ %></em>
  <br>
  <br>
  <%== solution.text %>
  <h4>Hints that were related to this solution:</h4>
  <ol>
  <% solution.hints.each do |hint| %>
    <li><%== hint.text %></li>
  <% end %>
  </ol>
<% end %>
<br>
<% if makeup %>
  <h3>Score for this makeup problem (reduced worth):</h3>
<% else %>
  <h3>Score for this problem:</h3>
<% end %>
<p><b>Total:</b> <%= score.score %></p>
<p><%= @feedback %></p>
<h3>Your Cumulative Scores</h3>
<ul>
<li>Context: <%= Score.context_score(current_user.id, @problem.context) %></li>
  <li>Category: <%= Score.category_score(current_user.id, @problem.category) %></li>
  <li>Curriculum: <%= Score.curriculum_score(current_user.id, metadata.category) %></li>
  <li>Everything: <%= Score.total_score(current_user.id) %></li>
</ul>
<br>
<%# TODO the following problem details should be a partial %>
<h4>Problem details:</h4>
<p><b>Curriculum: &nbsp</b>
<em><%= metadata.category %></em></p>
<p><b>Category: &nbsp</b>
<em><%= @problem.category %></em></p>
<p><b>Context: &nbsp</b>
<em><%= @problem.context %></em></p>
<p><b>Difficulty: &nbsp</b>
<em><%= metadata.diff %></em></p>
<p><b>Source: &nbsp</b>
<em><%= metadata.source %></em></p>

<%= link_to "Next", next_path(context: @problem.context) %>
<%# TODO go back %>
