<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<h3>Problem Data</h3>
<p><%= @problem.filename %></p>
<hr>
<%== @problem.text %>
<hr>
<%== @answer.interface %>
<p><%= "value(s): #{@answer.values}" %></p>
<% x = 0 %>
<% @solutions.each do |solution| %>
  <hr>
  <h3><%= "Solution #{x+1}" %></h3>
  <em><%= "Type: #{solution.typ}" %></em>
  <br>
  <br>
  <%== solution.text %>
  <h4>Hints</h4>
  <ol>
  <% @hints[x].each do |hint| %>
    <li><%== hint.text %></li>
  <% end %>
  </ol>
  <% x+=1 %>
<% end %>
<hr>
<h4>Details</h4>
<ul>
  <li>Curriculum: <em><%= @metadata.category %></em></li>
  <li>Category: <em><%= @problem.category %></em></li>
  <li>Context: <em><%= @problem.context %></em></li>
  <li>Difficulty: <em><%= @metadata.diff %></em></li>
  <li>Source: <em><%= @metadata.source %></em></li>
</ul>
