<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<% graphInfo = Graph.find_by(file_id: @problem.id,
                             typ: 'prob') %>
<% batchNumber = graphInfo.batch %>
<% orderNumber = graphInfo.order %>
<h4><%= 'Category: '+@problem.category %></h4>
<h4><%= 'Context: '+@problem.context %></h4>
<h4><%= 'Filename: '+@problem.filename %></h4>
<h4><%= 'Problem Group: '+batchNumber.to_s %></h4>
<h4><%= 'Problem: '+orderNumber.to_s %></h4>
<%== @problem.text %>
<%== @problem.answer.interface %>
<%# now have buttons for hints and answering %>
<%# debug link for skipping problem %>
<p><%= link_to 'return to index', resume_path(curriculum: 'lifetomath') %></p>
<% if is_teacher %>
  <p><%= link_to 'skip problem', problem_skip_path(id: @problem.id), method:
    :post %></p>
<% end %>
