<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
<%# NOTE inspired by Robert Cranfill's ma/resources/views/answer/test.blade.php %>
<%# TODO determine what should be partials (obvious sections: problem, hint, %>
<%# answer) %>
<%# TODO panel with clickable book -> clickable chapter -> "activated" section %>
<%# for the above imagine this in black/grey: LIFE TO MATH > METHODS > NUMERICAL %>
<%# maybe a little tab that comes out of the left-hand side when moused over %>
<%# maybe just a menu with the section "activated" that lets you pick another scope %>
<div class="container">
 <ul class="nav nav-pills">
   <li><a href="/start"><b><%= $PPB[@problem.curriculum] %></b></a></li>
   <li><a href=<%="/resume?curriculum=#{@problem.curriculum}"%>>
       <%= $PPC[@problem.category] %> <b>&nbsp ></b></a></li>
   <li class="active"><a href="#"><%= $PPS[@problem.context] %></a></li>
</ul>
</div>
<br>
<div class="container">
<div class="well">
<%== @problem.text %>
</div>

<%# hints %>
<% buttonText = "" %>
<%# TODO replace all this erb with ajax %>
<% @problem.solutions.each do |solution|%>
  <%# get active record collection of all hints of this solution %>
  <% solHints = solution.hints %>
  <% maxNumSolHints = solHints.count %>
  <%# get hint ids of seen hints for this solution by user %>
  <% usrHints = users_hints(@problem.id, solution.id) %>
  <% usrNumHints = usrHints.count %>
  <%# determine this user's hint status with this solution %>
  <% nextHint = nil %>
  <%# check if user has seen all hints from this solution %>
  <% if usrNumHints == maxNumSolHints%>
    <%# nextHint remains nil because user has seen all hints %>
    <% buttonText = "No hints remain" %>
  <%# if first hint %>
  <% elsif usrNumHints == 0 %>
    <% buttonText = "Show me a hint" %>
    <%# set next hint to display %>
    <% nextHint = solHints[usrNumHints]%>
  <%# if hint, but not first %>
  <% else %>
    <% buttonText = "Show me another hint" %>
    <%# set next hint to display %>
    <% nextHint = solHints[usrNumHints]%>
  <% end %>
  <%# draw determined button, 2 options (live or dead) %>
  <% if nextHint %>
    <%# live button %>
    <%= button_to buttonText, {hint_id: nextHint.id, solution_id: solution.id,
                               typ: solution.typ}, {class: "btn btn-info"} %>
  <% else %>
    <%# dead button %>
    <button type="button" class="btn btn-info disabled">
      No hints remain
    </button>
  <% end %>
  <%# TODO bug when multiple solutions have the same type %>
  <%# display hints unlocked %>
  <ol>
  <% usrHints.each do |hint_id| %>
    <% i = -1 %>
    <% unmatched = true %>
    <% while unmatched %>
      <% i += 1 %>
      <% if i >= solHints.length %>
        <p><b> ERROR DETECTED: UNABLE TO DISPLAY UNLOCKED HINTS </b></p>
        <% break %>
      <% elsif hint_id == solHints[i].id %>
        <% unmatched = false %>
        <% text = solHints[i].text %>
        <% if text == "" %>
          <li><em>We apologize, but this hint is not yet available.</em></li>
        <% else %>
          <li><%== text %></li>
        <br>
      <% end %>
      <% else %>
        <%# NOTE not the right hint in solution list, skip %>
      <% end %>
    <% end %>
  <% end %>
  </ol>
<% end %>

<%# TODO select proper interface for answering a problem %>
<%# interface for answering the problem %>
<%= form_tag("evaluate", {class: 'form-inline'}) do %>
    <%# NOTE user input hashed under :ans from 0...n %>
      <%== boxes_interface(@problem.answer.interface) %>
      <%= hidden_field_tag :id , @problem.id %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= submit_tag "Evaluate", class: "btn btn-basic" %>
  <% end %>
</div>
<%# temporary hack to get mathjax to typeset the page after page loaded %>
<script>
MathJax.Hub.Typeset();
</script>
