<%# NOTE inspired by Robert Cranfill's ma/resources/views/answer/test.blade.php %>
<%# TODO determine what should be partials (obvious sections: problem, hint, %>
<%# answer) %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="problem_statement">
<%== @problem.text %>
</div>

<%# hints %>
<% buttonText = "" %>
<% @problem.solutions.each do |solution|%>
  <%# get active record collection of all hints of this solution %>
  <% solHints = solution.hints %>
  <% maxNumSolHints = solHints.count %>
  <%# get hint ids of seen hints for this solution by user %>
  <% usrTypHints = users_hints(@problem.id, solution.typ) %>
  <% usrNumTypHints = usrTypHints.count %>
  <%# figure out this user's hint status with this solution %>
  <% nextHint = nil %>
  <% if usrNumTypHints == maxNumSolHints%>
    <% noButtonText = "<p><em>(There are no more "+solution.typ+"
    hints)</em></p>" %>
  <% elsif usrNumTypHints == 0 %>
    <% buttonText = "Show me a "+solution.typ+" hint" %>
    <% nextHint = solHints[usrNumTypHints]%>
  <% else %>
    <% buttonText = "Show me another "+solution.typ+" hint" %>
    <% nextHint = solHints[usrNumTypHints]%>
  <% end %>
  <% if nextHint %>
    <%# "show me a hint" button %>
    <%= button_to buttonText, params: {hint_id: nextHint.id, solution_id:
                                       solution.id, typ: solution.typ } %>
  <% else %>
    <%# "no button to press" %>
    <%== noButtonText %>
  <% end %>
  <%# display hints unlocked %>
  <ol>
  <% usrTypHints.each do |hint_id| %>
    <% i = -1 %>
    <% unmatched = true %>
    <% while unmatched %>
      <% i += 1 %>
      <% if i >= solHints.length %>
        <p><b> ERROR DETECTED: UNABLE TO DISPLAY UNLOCKED HINTS </b></p>
        <% break %>
      <% elsif hint_id == solHints[i].id %>
        <% unmatched = false %>
        <% text = solHints[i].text %>
        <% if text == "" %>
          <li><em>We apologize, but this hint is not yet available.</em></li>
        <% else %>
          <li><%== text %></li>
        <br>
      <% end %>
      <% else %>
        <%# NOTE not the right hint in solution list, skip %>
      <% end %>
    <% end %>
  <% end %>
  </ol>
<% end %>

<%# TODO select proper interface for answering a problem %>
<%# interface for answering the problem %>
<%= form_tag("evaluate", method: :post) do %>
  <%# NOTE user input hashed under :ans from 0...n %>
  <%== boxes_interface(@problem.answer.interface) %>
  <%= hidden_field_tag :id , @problem.id %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= submit_tag("Evaluate") %>
<% end %>
