<%# mathjax cdn, minimal config tex->html %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
<%# NOTE variables, for clarity and reducing DB hits %>
<% answer = @problem.answer %>
<% graph = Graph.find_by(file_id: @problem.id, typ: 'prob') %>
<% makeup = graph.makeup %>
<% metadata = @problem.metadata %>
<% score = Score.find_by(user_id: current_user.id, problem_id: @problem.id) %>

<div class="container">
 <ul class="nav nav-pills">
   <li><a href="/start"><b><%= $PPB[@problem.curriculum] %></b></a></li>
   <li><a href=<%="/resume?curriculum=#{@problem.curriculum}"%>>
       <%= $PPC[@problem.category] %> <b>&nbsp ></b></a></li>
   <li class="active"><a href="#"><%= $PPS[@problem.context] %></a></li>
</ul>
</div>
<div class="container">

<%# problem statement %>
<h3>Problem</h3>
<div class="well">
  <%== @problem.text %>
</div>
<%# value comparison, so student knows how they fared before seeing solution %>
<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Expected:</h4>
        <p><%== answer_list(answer.answers, 'a') %></p>
      </div>
      <div class="col-sm-6">
        <h4>Given:</h4>
        <p><%== answer_list(@userAnswers, 'b') %></p>
      </div>
    </div>
  </div>
</div>
<%# print solution+hint(s) combo(s) %>
<h3>Solution(s)</h3>
<% @problem.solutions.each do |solution| %>
  <div class="well">
    <b><%= "Type of solution: " %></b>
    <em><%= solution.typ %></em>
    <br>
    <br>
    <%== solution.text %>
    <br>
    <br>
    <h4>Hints related to this solution:</h4>
    <ol>
      <% solution.hints.each do |hint| %>
        <%== hint.text %>
      <% end %>
    </ol>
  </div>
<% end %>
<h3>Scores</h3>
<div class="well">
  <% if makeup %>
    <p><b>Points awarded:</b> <%= score.score %></p>
  <% else %>
    <p><b>Points awarded:</b> <%= score.score %></p>
  <% end %>
  <p><%= @feedback %></p>
</div>
<div class="well">
  <%# TODO replace these with ajax calls %>
  <% default_total_score = Score.context_score(current_user.id, @problem.context)%>
  <p hidden id='con_scr'><b>Total:&nbsp</b><%= default_total_score %></p>
  <p hidden id='cat_scr'><b>Total:&nbsp</b><%= Score.category_score(current_user.id,
                                                         @problem.category)%></p>
  <p hidden id='cur_scr'><b>Total:&nbsp</b><%= Score.curriculum_score(current_user.id,
                                                           @problem.curriculum)%></p>
  <p hidden id='tot_scr'><b>Total:&nbsp</b><%= Score.total_score(current_user.id) %></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <div class="form-group">
            <label for="cumulative_scores">Your Cumulative Scores:</label>
            <select class="form-control" id="cumulative_scores"
              onchange="cumulative_scores()">
              <option value="context">Section</option>
              <option value="category">Chapter</option>
              <option value="curriculum">Book</option>
              <option value="everything">Everything</option>
            </select>
          </div>
      </div>
      <div class="col-sm-8">
        <p class="text-center" id="to_enter" style="padding-top:25px;">
        <b>Total:&nbsp</b><%= default_total_score %></p>
      </div>
    </div>
  </div>
</div>
<%# TODO the following problem details should be a partial %>
<h3>About the Problem</h3>
<div class="well">
  <p><b>Book: &nbsp</b>
  <em><%= $PPB[@problem.curriculum] %></em></p>
  <p><b>Chapter: &nbsp</b>
  <em><%= $PPC[@problem.category] %></em></p>
  <p><b>Section: &nbsp</b>
  <em><%= $PPS[@problem.context] %></em></p>
  <p><b>Difficulty: &nbsp</b>
  <em><%= metadata.diff %></em></p>
</div>

<p><%= link_to "Next", next_path(context: @problem.context) %></p>
<p><%= link_to "Back to Section Select", resume_path(curriculum: @problem.curriculum) %></p>

</div>
<script>
highlightAnswers('a','b', <%= @userAnswers.length %>)
</script>
<script>
MathJax.Hub.Typeset();
</script>
