<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
<% provide(:title, "#{@theory.filename}") %>

<div class="container">
 <ul class="nav nav-pills">
   <li><a href="/start"><b><%= $PPB[@theory.curriculum] %></b></a></li>
   <li><a href=<%="/resume?curriculum=#{@theory.curriculum}"%>>
       <%= $PPC[@theory.category] %> <b>&nbsp ></b></a></li>
   <li class="active"><a href="#"><%= $PPS[@theory.context] %></a></li>
</ul>
</div>
<br>
<div class="container">
  <div class="well well-lg"><%== @theory.text %></div>

  <% if @first_viewing %>
    <em><%= "Since this is the first time you are viewing this theory, you may
  jump to the next part of \"#{$PPS[@theory.context]}\" with this link:" %></em>
    <p><%= link_to $PPS[@theory.context], next_path(context: @theory.context) %></p>
  <% else %>
    <em> <%= link_to "Curriculum", start_path %></em>
  <% end %>
</div>
<%# temporary hack to get mathjax to typeset the page after page loaded %>
<script>
MathJax.Hub.Typeset();
</script>
