<div class="container">
  <h3>All Users Activity (temporary placeholder)</h3>
  <em><p>Note: this page will change dramatically to include menus, plots, time
    frames, scopes, and much more data; needs javascript first</p></em>
  <ol>
    <% @all.each do |hash| %>
      <li>
        <ul>
          <li><%= "#{hash[:curriculum]}, #{hash[:category]},
        #{hash[:context]}, #{hash[:filename]}" %> </li>
          <li><%= "user: #{hash[:user]}" %></li>
          <li><%= "score: #{hash[:score]}" %></li>
          <li><%= "hints requested: #{hash[:hints]}" %></li>
          <li><%= "difficulty: #{hash[:difficulty]}" %></li>
          <li><%= "start time: #{hash[:start]}" %></li>
          <li><%= "end time: #{hash[:finish]}" %></li>
        </ul>
      </li>
      <br>
    <% end %>
  </ol>
</div>
