<%# TODO add dropdown headers, as designed by bootstrap %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
          <div class="navbar-header" id="math_affirm_logo">
            <%= link_to "Math Affirm", root_path, id: "logo" %>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <ul class="nav navbar-nav navbar-right" id="math_affirm_navbar">
            <%# user account menu %>
            <% if logged_in %>
              <li><%= link_to "Curriculum", start_path %></li>
              <% if is_teacher %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Tools <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Content</li>
                    <li><%= link_to "Organized Files", curricula_path %></li>
                    <li><%= link_to "Files and Search", curriculum_edit_path %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Accounts</li>
                    <li><%= link_to "View Users", users_path %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Analytics</li>
                    <li><%= link_to "Users History", curriculum_history_path %></li>
                  </ul>
                </li>
              <% end %>
              <li class="dropdown">
                <%# TODO change to identify user privalege %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= print_user_type %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Settings</li>
                  <% url = edit_user_path(current_user) %>
                  <li><%= link_to "Account", url %></li>
                  <% url = user_path(current_user) %>
                  <li><%= link_to "Profile", url %></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Activity</li>
                  <% url = history_path(current_user.id) %>
                  <li><%= link_to "History", url %></li>
                  <li class="divider"></li>
                  <%# all users %>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Getting Started", started_path %></li>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
